.transactionHistory {
    width: 400px;
    border-collapse: collapse;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.headerCell {
    background-color: #4a4a4a;
    color: white;
    padding: 12px;
    text-align: center;
    border-right: 2px solid black;
}

.headerCell:last-child {
    border-right: none;
}

.cell {
    padding: 12px;
    text-align: center;
border: 2px solid black;
}

.evenRow {
    background-color: white;
}

.oddRow {
    background-color: #f0f0f0;
}